@import "../../style/mixin.scss";

.Service {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 60px;

  &::after {
    content: "";
    background-image: url("../../assets/images/Picadora-Claas.jpeg");
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -10;
  }
  &::before {
    @include background-opacity();
    z-index: -9;
  }

  .title {
    font-weight: 700;
    font-size: 2.5em;
    border-bottom: var(--border);
  }

  .services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    .service {
      border-radius: 25px;
      width: 40%;
      border: var(--border);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 40px;
      height: 380px;
      gap: 20px;
      cursor: pointer;
      user-select: none;
      @include brown-blur;
      transition: transform 0.5s, background-color 0.5s;
      position: relative;

      &:hover {
        transform: scale(1.02);
      }
      &:hover::after {
        content: "Click para saber mas";
        position: absolute;
        bottom: 6px;
        text-align: center;
        text-shadow: 2px 2px 4px #333;
      }

      .service-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        h2 {
          font-weight: 500;
          font-size: 2em;
          text-align: center;
        }

        svg {
          height: 50px;
        }
      }
      .service-text {
        font-weight: 200;
        text-align: justify;
        font-size: 1.2em;
      }
    }
  }
}
@media screen and (max-width: 1326px) {
  .Service {
    gap: 50px;
    justify-content: flex-end;
    padding-bottom: 50px;

    .services-container {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .service {
        height: 400px;
        width: 450px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Service {
    .services-container {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .service {
        height: 400px;
        width: 450px;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .Service {
    gap: 10px;
    padding: 15px 0;

    .services-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      .service {
        height: auto;
        width: 800px;
        padding: 20px;
        display: flex;
        justify-content: center;
      }
    }
    .title {
      font-weight: 700;
      font-size: 35px;
      border-bottom: var(--border);
    }
  }
}
@media screen and (max-width: 820px) {
  .Service {
    gap: 10px;
    justify-content: flex-end;

    .title {
      margin-top: 75px;
    }

    .services-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      transform: translate(0);
      padding-bottom: 10px;


      .service {
        padding: 20px;
        width: 95%;
        display: flex;
        justify-content: center;

        .service-text {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .service-title {
          display: flex;
          justify-content: center;
          align-items: center;

          h2 {
            width: 400px;
            font-size: 1.4em;
          }

          svg {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .Service {

    .service {
      line-height: 1.4em;
    }
  }
}