.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 1.4em;

    h2 {
      font-weight: 400;
    }

    hr {
      width: 100%
    }
  }
}

