@import '../../style/mixin.scss';

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;

  .title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
    margin: 0 15px;

    h2 {

    }

    hr {
      width: 100%;
    }
  }
}

.whatsapp-container {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 5%;
  right: 3%;
  z-index: 100;
  
  svg {
    height: 100%;
    width: 100%;
  }
}

.arrow-container {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 2.5%;
  cursor: pointer;
  border: var(--border);
  border-radius: 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include brown-blur ();

  svg {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .Home {

    .title-container {
      font-size: 1em
    }
  }
}