@import "./fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  font-family: "Cabin", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: solid rgba(255, 255, 255, 0.3) 1px;
  --border-transparent: solid rgba(255, 255, 255, 0.05) 1px;
  --hover-color: #3a281cb3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
