.container-video {
  width: 100%;
  height: 50vh;

  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px black;
    border: solid 1px gray;
  }
  .text {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 4s;

    h1 {
      color: aliceblue;
      font-size: 1.5em;
      
    }
  }
}
