.Footer {
  height: 100vh;
  width: 100vw;
  //background-color: #582f0e65;
  padding: 60px;
  display: flex;
  position: relative;
  
  &::after {
    content: '';
    background: linear-gradient(0.9turn, #000000, #844000);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
  }
}

.container1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  a {
    max-width: 90%;
    display: grid;
    place-items: center;

    img {
      max-width: 100%;
      border-radius: 15px;
    }
  }

  p {
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.3em;

    svg {
      height: 100%;
    }
  }
} 
.container2 {
  padding-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  text-align: center;

  .title {
    font-size: 2.5em;
    padding-bottom: 5px;
    border-bottom: var(--border);
    width: 100%;
    white-space: nowrap;
    
  }
  .subtitle {
    margin: 1%;
  }
  .doubts-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 100%;
    gap: 20px;
    font-size: 1.2em;

    svg {
      height: 100%;
    }
  }
  .icons-container {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    gap: 30px;

    svg {
      height: 100%;
    }
  }
}

.container3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-title {
    margin: 20px;
    font-size: 1.8em;
    border-bottom: var(--border);
  }
  .contact-item {
    text-align: start;
    width: 80%;
    font-weight: 500;
    font-size: 1.2em;
    transform: translateX(7%);
  }
  
}