@import "../../style/mixin.scss";

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hover-color);
  overflow: hidden;

  &::after {
    @include background-opacity();
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -5;
  }

  img {
    position: absolute;
    top: 0;
    z-index: -9;
    opacity: 0;
    transition: opacity 1s;
    min-height: 100%;
    min-width: 100%;
    filter: blur(2px);
  }

  .img_on {
    opacity: 1;
  }
}
