@import "../../style/mixin.scss";

.About {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  padding: 35px;
  position: relative;
  align-items: center;

  &::after {
    content: "";
    background: url(../../assets/images/silopuente2.jpeg) center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -10;
  }
  &::before {
    @include background-opacity();
    height: 100%;
    z-index: -9;
  }

  .left-container {
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: solid rgba(255, 255, 255, 0.05) 1px;
    flex: 1;
    z-index: 10;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 35px;
    max-width: 50%;
    margin-top: 6%;
    

    h1 {
      font-weight: bolder;
      font-size: 2em;
      border-bottom: var(--border);
    }

    p {
      font-size: 1.5em;
      padding: 15px;
      text-align: justify;
    }

    .flota-button {
      height: 40px;
      width: 120px;
      bottom: 2.5%;
      cursor: pointer;
      border: var(--border);
      border-radius: 100px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include brown-blur();
    }
  }

  .right-container {
    flex: 1;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    padding: 20px 10px;

    div {
      flex: 1;
      margin: 10px;
      min-width: 35%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0px 0px 10px black;

      img {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1326px) {
  .About {
    padding: 20px;
    .left-container {
      max-width: 100%;

      h1 {
        font-size: 1.6em;
      }
      p {
        font-size: 1.4em;
      }
    }
    
  }
}
@media screen and (max-width: 1042px) {
  .About {
    
    flex-direction: column;
    .left-container {
      max-width: 100%;
      padding: 20px;
      margin-top: 50px;

      h1 {
        font-size: 1.6em;
      }
      p {
        font-size: 1.4em;
      }
    }

    .right-container {
      max-width: 100%;
      margin: 0;
      padding: 5px;
      div {
        min-width: 40%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .About {
    
    flex-direction: column;
    .left-container {
      max-width: 100%;
      padding: 20px;
      margin-top: 50px;

      h1 {
        font-size: 1.6em;
      }
      p {
        font-size: 1.4em;
      }
    }

    .right-container {
      max-width: 100%;
      margin: 0;
      padding: 5px;
      div {
        min-width: 40%;
      }
    }
  }
}
@media screen and (max-width: 675px) {
  .About {
    padding: 0;

    .left-container {
      margin-top: 80px;
      padding: 10px;
      align-items: center;
      max-width: 90%;
      h1 {
        font-size: 1.7em;
      }

      p {
        font-size: 1.2em;
        padding: 8px;
      }
    }
    .right-container {
      max-width: 90%;
      padding: 0;
      div {
        min-width: 30%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .About {
    .left-container {
      margin-top: 95px;
      padding: 10px;
      align-items: center;
      h1 {
        font-size: 1.3em;
      }

      p {
        font-size: medium;
        line-height: 1.4em;
        padding: 8px;
      }
    }
    .right-container {
      max-height: 50%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      div {
        height: 100px;
        min-width: 30%;
      }
    }
  }
}
