@import "../../style/mixin.scss";

.flota-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    background: url("../../assets/images/Picadora-Claas.jpeg") center center
      no-repeat fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -10;
  }
  &::before {
    @include background_opacity();
    height: 100%;
    z-index: -9;
  }

  .nav-bar {
    align-self: stretch;
    height: 92.5px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    @include brown_blur;

    .navBar-button {
      @include navBar_button;
    }
  }
  h1 {
    margin: 30px;
    border-bottom: var(--border-transparent);
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 25px;
    border: var(--border-transparent);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 90%;
    padding: 45px;
    box-shadow: 0px 0px 10px black;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      padding: 15px;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 0px 5px black;
      border: solid rgba(255, 255, 255, 0.229) 1px;

      h2 {
        margin-bottom: 15px;
      }

      p {
        align-self: flex-start;
        font-size: 1.3em;
      }
    }

    .camiones::after {
      content: "";
      position: absolute;
      top: 0;
      background-image: url("../../assets/gallery-images/ochocamiones.jpeg");
      background-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
      filter: blur(2px) brightness(40%);
    }
    .picadoras::after {
      content: "";
      position: absolute;
      top: 0;
      background-image: url("../../assets/gallery-images/picadooras.jpeg");
      background-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
      filter: blur(2px) brightness(40%);
    }
    .tractores::after {
      content: "";
      position: absolute;
      top: 0;
      background-image: url("../../assets/gallery-images/tractoor.jpeg");
      background-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
      filter: blur(2px) brightness(40%);
    }
    .varios::after {
      content: "";
      position: absolute;
      top: 0;
      background-image: url("../../assets/gallery-images/picadoraCamion.jpeg");
      background-position: center;
      height: 100%;
      width: 100%;
      z-index: -1;
      filter: blur(2px) brightness(40%);
    }
  }
}

@media screen and (max-width: 1250px) {
  .flota-container {
    .nav-bar {
      height: 82.5px;
      padding-left: 60px;
    }
    
    section {
      gap: 30px;

      width: 90%;
      padding: 25px;

      div {
        h2 {
          margin-bottom: 15px;
        }

        p {
          align-self: flex-start;
          font-size: 1.3em;
        }
      }
    }
  }
}

@media screen and (max-width: 1192px) {
  .flota-container {
    .nav-bar {
      height: 75px;
      padding-left: 60px;
    }
    h1 {
      font-size: 1.8em;
    }

    section {
    

      div {
        h2 {
          margin-bottom: 15px;
        }

        p {
          align-self: flex-start;
          font-size: 1.2em;
        }
      }
    }
  }
}

@media screen and (max-width: 1022px) {
  .flota-container {
    .nav-bar {
      height: 70px;
      padding-left: 60px;
    }
    h1 {
      font-size: 1.7em;
    }

    section {
      gap: 15px;
      width: 96%;
      padding: 10px;

      div {
        h2 {
          margin-bottom: 15px;
        }

        p {
          align-self: flex-start;
          font-size: 1.1em;
        }
      }
    }
  }
}

@media screen and (max-width: 921px) {
  .flota-container {
    h1 {
      font-size: 1.6em;
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 90%;
      padding: 50px;

      div {
        h2 {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 751px) {
  .flota-container {
    .nav-bar {
      height: 65px;
      padding-left: 60px;
    }
    h1 {
      font-size: 1.6em;
    }

    section {
      gap: 25px;
      width: 90%;
      padding: 40px;

      div {
        h2 {
          margin-bottom: 15px;
        }

        p {
          align-self: flex-start;
          font-size: 1.1em;
        }
      }
    }
  }
}

@media screen and (max-width: 562px) {
  .flota-container {
    .nav-bar {
      height: 60px;
    }
    h1 {
      font-size: 1.5em;
      margin: 25px;
    }

    section {
      gap: 25px;
      width: 95%;
      padding: 25px;

      div {
        p {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media screen and (max-width: 501px) {
  .flota-container {
    .nav-bar {
      height: 55px;
      padding-left: 50px;
    }
    h1 {
      font-size: 1.5em;
      margin: 25px;
    }

    section {
      gap: 35px;

      padding: 15px;

      div {
        h2 {
          font-size: 1.4em;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 438px) {
  .flota-container {
    .nav-bar {
      padding-left: 40px;
    }

    section {
      padding: 8px;

      div {
        h2 {
          font-size: 1.3em;
        }

        p {
          font-size: 0.9em;
        }
      }
    }
  }
}

@media screen and (max-width: 386px) {
  .flota-container {
    section {
      padding: 5px;

      div {
        h2 {
          font-size: 1.3em;
        }
      }
    }
  }
}

@media screen and (max-width: 326px) {
  .flota-container {
    section {
      div {
        h2 {
          font-size: 1em;
        }
      }
    }
  }
}
