@import '../../style/mixin.scss';

.navBar {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  z-index: 100;
  @include brown-blur();
  transition: transform 0.5s, background-color 0.5s;


  .navBar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex: 1;
    border-bottom: var(--border);
    position: relative;

    .email-icon {
      position: absolute;
      left: 5px;
      height: 100%;
    }

    p {
      opacity: 0.6;
      transform: translateX(14%);
      p {
        display: inline;
        font-family: Inter;
        opacity: 1;
        font-weight: "bolder";
      }
    }

    .icons-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 80px;

      .instagram-icon-container {
        padding: 5px 7px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: var(--border);

        .instagram-icon {
          color: white;
          height: 100%;
          width: 100%;
        }
      }

      .linkedin-icon-container {
        @extend .instagram-icon-container;
        border: none;

        .linkedin-icon {
          color: white;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .navBar-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 9;
    padding: 0 20px;

    img {
      max-height: 70px;
      max-width: 70px;
      border-radius: 100px;
    }

    .title-container {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 20px;

      h1 {
        transform: translateY(5px);
      }

      p {
        transform: translateY(-5px);
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: relative;
      left: 20%;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
        padding: 5px 0;
        position: relative;
        overflow: hidden;
        margin: 0 20px;

        .button-line {
          position: absolute;
          bottom: 0;
          transform: translateX(-101%);
          border: solid #a66400 1px;
          transition: transform 0.5s;
          width: 100%;
        }

        &:hover .button-line {
          transform: translateX(0);
        }
      }
    }
  }
}
.navBar_scrolled {
  transform: translateY(-30%);
}
