@import "../../style/mixin.scss";

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  min-width: 100vw;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  z-index: 100;
  @include brown_blur();
  backdrop-filter: none;
  transition:
    transform 0.5s,
    background-color 0.5s;
}
.navBar_scrolled {
  transform: translateY(-30%);
}

.navBar-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  flex: 1;
  border-bottom: var(--border);
  position: relative;
  backdrop-filter: blur(10px);


  .email-icon {
    position: absolute;
    left: 5px;
    height: 100%;
  }

  p {
    opacity: 0.6;
    transform: translateX(14%);
  }

  .icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80px;

    .instagram-icon-container {
      padding: 5px 7px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: var(--border);

      .instagram-icon {
        color: white;
        height: 100%;
        width: 100%;
      }
    }

    .linkedin-icon-container {
      @extend .instagram-icon-container;
      border: none;

      .linkedin-icon {
        color: white;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.navBar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 9;
  padding: 0 20px;
  backdrop-filter: blur(10px);



  .title-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
    font-size: 1.3em;
    cursor: pointer;
    user-select: none;

    img {
      max-height: 70px;
      max-width: 70px;
      border-radius: 100px;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
  }

  svg {
    height: 50px;
    display: none;
    position: absolute;
    right: 3%;
  }
}



@media screen and (max-width: 1207px) {
  .buttons-container {
    margin-right: 0;
    gap: 0px;

    .button {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1024px) {

  .navBar-bottom {
    svg {
      display: block;
    }
  }
}

@media screen and (max-width: 570px) {
  .navBar-bottom {
    padding: 0;

    .title-container {
      gap: 10px;

      .title {
        h1 {
          font-size: 0.9em;
        }
        p {
          font-size: 0.9em;
        }
      }
    }

    svg {
      right: 1%;
    }
  }
}

@media screen and (max-width: 430px) {
  .navBar-bottom {
    .title-container {
      .title {
        h1 {
          font-size: 0.7em;
        }
        p {
          font-size: 0.6em;
        }
      }

      img {
        max-height: 60px;
        max-width: 60px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .navBar-top {

    .email-icon {
      position: static;
      height: 30px;
    }

    p {
      display: none;
    }
  }

  .navBar-bottom {
    .title-container {
      margin: 0 5px;
      gap: 5px;
    }
  }
}

@media screen and (max-width: 340px) {
  .navBar-bottom {
    
    .title-container {

      .title {
        max-width: 160px;
        text-align: center;
      }
    }
  }
}
