@import "../../style/mixin.scss";

.SliderContainer {
  width: 100%;
  height: 550px;
  border: solid blue 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-transparent);
  backdrop-filter: blur(10px);
  flex: 1;
  padding: 50px;

  .Slider {
    width: 90%;
    margin: 0 auto;

    .imgContainer {
      overflow: hidden;
      height: 450px;
      width: 200px;

      div {
        height: 100%;
        width: 330px;
        margin: 0 auto;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        img {
          max-height: 100%;
          margin: 0 auto;
          border-radius: 5px;
        }
      }
    }
  }
}

.fullSizeImage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.736);
  pointer-events: none;
}

@media screen and (max-width: 1043px) {
  .SliderContainer {
    .Slider {
      .imgContainer {
        div {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .SliderContainer {

    .Slider {

      .imgContainer {

        div {
          width: 335px;
        }
      }
    }
  }
}

@media screen and (max-width: 735px) {
  .SliderContainer {
    height: 450px;
    padding: 0 10px;

    .Slider {

      .imgContainer {
        height: 380px;

        div {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .SliderContainer {

    .Slider {
      width: 90%;

      .imgContainer {
        height: 370px;

        div {
          width: 222px;
        }
      }
    }
  }
}

